<!DOCTYPE html>
<html ng-app='includes'>
  <head>
    <meta charset="utf-8">
    <title>PEDIDOS</title>
    <ng-include src= " 'plantillas/css.html'  "></ng-include>
    <link rel="stylesheet" href="css/todo.css">
    <link rel="stylesheet" href="css/pedidosEstilos.css">
  </head>
  <body>
      <div class="col-md-1 "></div>
      <div class="col-md-10">
<% include partials/nav.ejs %>
        <div class="titu">
          <h1>PEDIDOS</h1>
        </div>
          <div class="table-responsive">
            <div class="table">
              <table ng-controller="ctrl">
                <tr  class="bg-warning" >
                  <th> N PEDIDO </th>
                                <th>FECHA PEDIDO</th>

                  <th> USUARIO </th>
                  <th> MONTO </th>
                  <th> FORMA DE PAGO </th>
                  <th> DIRECCION </th>
                  <th> ESTADO </th>
                </tr>
                <% for (var i = ventas.length - 1; i >= 0; i--) { %>
                <tr>
                  <td><a href="/detalleVenta?id=<%= ventas[i].detaid %>" target='_blank'><%= ventas[i].detaid %></a></td>
                                    <td><%= ventas[i].fecha.toLocaleDateString() %></td>

                  <td><%= ventas[i].nombre %></td>
                  <td>$ <%= ventas[i].suma %></td>
                  <td><%= ventas[i].fPago %></td>
                  <td><%= ventas[i].direccion %></td>
                  <td>
                    <select name='estado' onchange="modificarEstado(<%= ventas[i].detaid %>,this.value)">
                            <% for (var j = estados.length - 1; j >= 0; j--) { %>
                            <option value="<%= estados[j].id_esta %> " <% if (estados[j].desc_esta == ventas[i].desc_esta) { -%>
                              selected
                            <% }-%>> <%= estados[j].desc_esta %> </option>
                            <%}%>
                    </select>
                </td>
                </tr>
                <% } %>
              </table>
            </div>
          </div>

</div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js" > </script>
        <script src="https://code.angularjs.org/1.6.5/angular-route.min.js"></script>
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/ajax.js"></script>

        <script src="js/app.js"></script>
        <script src="js/admin.js"></script>
    </body>
</html>