<!DOCTYPE html>
<html ng-app='includes'>
  <head>
    <meta charset="utf-8">
    <title>COMENTARIO</title>
    <ng-include src= " 'plantillas/css.html'  "></ng-include>
    <link rel="stylesheet" href="css/todo.css">
    <link rel="stylesheet" href="css/comentarioEstilos.css">
  </head>
  <body>
    <div class="col-md-1 "></div>
    <div class="col-md-10">
<% include partials/nav.ejs %>
      <div class="titu">
        <h1>COMENTARIO</h1>
      </div>
      <div class="comen">
        <h4>ASUNTO: </h4><strong> <%= comentario[0].asun_come %></strong><br>
        <h4>REMITENTE: </h4><strong><%= comentario[0].nomb_come %></strong><br>
        <h4>EMAIL: </h4><a href="#"> <%= comentario[0].mail_come %></a><br>
        <h4>FECHA: </h4><strong> <%= comentario[0].fech_come.toLocaleDateString() %></strong><br>
        <h4>COMENTARIO</h4>
        <div class="text">
          <p><%= comentario[0].mens_come %></p>
        </div>
      </div>

      <a href="https://mail.google.com/mail/?view=cm&fs=1&to=<%= comentario[0].mail_come %>&su=Gracias por su comentario&body=atte el staff de Disfrutar" target="_blank"><button type="submit" name="button">RESPONDER</button></a>

    </div>
    <a href="/comentario"><button class="btn btn-warning"><span class="glyphicon glyphicon-arrow-left"></span> VOLVER A Comentarios</button></a>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js" ></script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
        <script src="js/comment.js"></script>

  </body>
</html>
